body {
    margin: 0;
    overflow: hidden;
    background-color: #f0f0f0;
}
canvas {
    width: 100%;
    height: calc(100vh - 59px);
    display: block;
}
.top-bar {
    padding: 10px;
    text-align: left;
    width: 50%;
    float: left;
    height: 39px;
    
}
.top-bar a {
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
}


body{
    background-color: #747171;
    background: linear-gradient(to right #b4b4b4, #6d6c6c);
}
.options-container ul{
    background: #747171;
    list-style: none;
}
.options-container ul, .options-container li{
    margin: 0;
    padding: 0;
    align-items: center;
}
.options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    float: right;
    padding-right: 130px;
}
.options-container li {
    flex: 1;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}
.options-container a{
    background: #747171;
    color: #f0f0f0;
    display: block;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease;
    padding: 10px;
}
.options-container li:hover a{
    background: #807f7f;
}
#submenu{
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 1;
    text-align: center;
}
li:hover ul#submenu{
    opacity: 1;
    visibility: visible;
}
#submenu li{
    width: 100%;
    float: none;
}
#submenu a:hover{
    background: #9facd6;
}
#submenu a{
    background-color: #575d75;
}
.top-bar .back-arrow {
    font-size: 24px;
    margin-right: 10px;
    display: inline-block;
}