body {
    margin: 0;
    overflow: hidden;
    background-color: #f0f0f0;
}
canvas {
    width: 100%;
    height: calc(100vh - 150px);
    display: block;
}
.top-bar {
    background-color: #575d75;
    padding: 10px;
    text-align: left;
}
.top-bar a {
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

body{
    background: #33334d;
}
.options-container ul{
    background: #575d75;
    list-style: none;
    width: 100%;
    
}
.options-container ul, .options-container li{
    margin: 0;
    padding: 0;
}
.options-container {
    display: flex; /* Use Flexbox */
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    justify-content: space-between; /* Space items evenly */
}
.options-container li {
    flex: 1; /* Equal distribution of space among items */
    text-align: center;
    box-sizing: border-box; /* Include padding and borders in width calculation */
    padding: 10px;
}

.options-container a{
    background: #575d75;
    color: #f0f0f0;
    display: block;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease;
    padding: 10px;
}
.options-container li:hover a{
    background: #9facd6;
}
#submenu{
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 1;
    text-align: center;
}
li:hover ul#submenu{
    opacity: 1;
    visibility: visible;
}
#submenu li{
    width: 100%;
    float: none;
}
#submenu a:hover{
    background: #9facd6;
}
#submenu a{
    background-color: #575d75;
}
.top-bar .back-arrow {
    font-size: 24px; /* Adjust the size as needed */
    margin-right: 10px; /* Add some spacing between the arrow and the link */
    display: inline-block;
}
