body {
    margin: 0;
    overflow: hidden;
    background-color: #f0f0f0;
}
canvas {
    width: 100%;
    height: calc(100vh - 225px);
    display: block;
}
.top-bar {
    background-color: #575d75;
    padding: 10px;
    text-align: center;
}
.top-bar a {
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
}
.colors-container {
    background-color: #33334d;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 10px;
    padding-top: 15px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    height: 100px;
    }


body{
    background: #33334d;
}
.options-container ul{
    background: #33334d;
    list-style: none;
    width: 100%;
    
}
.options-container ul, .options-container li{
    margin: 0;
    padding: 0;
}
.options-container li{
    position: relative;
    width: 25%;
    
    
}
.options-container a{
    background: #33334d;
    color: rgb(0, 0, 0);
    display: block;
    font-weight: 400;
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease;
    padding: 10px;
}
.options-container li:hover a{
    background: #9facd6;
}
#submenu{
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 1;
}
li:hover ul#submenu{
    opacity: 1;
    visibility: visible;
}
#submenu li{
    width: 100%;
    float: none;
}
#submenu a:hover{
    background: #9facd6;
}
#submenu a{
    background-color: #33334d;
}