
body, h1, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #747171;
    background: linear-gradient(to top, #b4b4b4, #6d6c6c);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.container{
    background-color: #999999;
    background: linear-gradient(to top, #b4b4b4, #6d6c6c);
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 500px;
    height: auto;

}

h1 {
    font-size: 36px;
    color: #f0d318;
    margin: 32px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #616060;
    font-weight: bold;
    font-size: 24px;
    transition: color 0.3s, transform 0.3s;
    display: inline-block; /* Add this to make the transform property work */
}

a:hover {
    color: #f0d318;
    transform: translateY(5px); /* Move the text up on hover */
    animation: floatAnimation 0.3s 1 forwards; /* Add a floating animation */
}

/* Define a floating animation */
@keyframes floatAnimation {
    0% {
        transform: translateY(2.5px);
    }
    100% {
        transform: translateY(-2.5px);
    }
}








/*to bottom, #da1212, #f0d318); for line 10. Other color options